wp-mf-host/node_modules/
wp-mf-host/dist/
wp-mf-host/build/
wp-mf-host/yarn.lock
wp-mf-host/pnpm-lock.yaml
wp-mf-host/package-lock.json

wp-mf-remote/node_modules/
wp-mf-remote/dist/
wp-mf-remote/build/
wp-mf-remote/yarn.lock
wp-mf-remote/pnpm-lock.yaml
wp-mf-remote/package-lock.json

.DS_Store